.header{
  margin: 10px;
  padding: 20px;
  background-color: aquamarine;
}
.Product{
  width: fit-content;
  padding: 20px;
  margin: 10px;
  background-color: cadetblue;
}
.Products{
  width: 100%;
  display: flex;
}

.img1{
  width:200px;
}

.btn{
  padding: 15px 35px;
  color: aliceblue;
  background-color: black;
  font-size: 25px;
}